.app {
  min-height: 100vh;
  background-color: rgb(68, 23, 1);
}

.content {
  --offset: calc(var(--footer-height) + var(--logo-height));
  min-height: calc(100vh - var(--offset));

  display: flex;
  justify-content: center;
  align-items: center;
}
